html {
  --ball-borders            : 1px solid #000;
  --ball-height             : 50px;
  --ball-margins            : 0 0 0 10px;
  --ball-textAlign          : center;
  --ball-width              : 50px;

  --ballCenter-bgcolor      : #FFF;
  --ballCenter-borders      : 1px solid #000;
  --ballCenter-color        : #000;
  --ballCenter-height       : calc(var(--ball-height) - 12px);
  --ballCenter-margins      : 5px 0 0 0;
  --ballCenter-width        : calc(var(--ball-height) - 12px);
  --ballCenter-fontSize     : 16px;

  --ballCenterP-fontWeight  : bolder;
  --ballCenterP-margins     : 0 0 0 0;
  --ballCenterP-padding     : 0 0 0 0;
  --ballCenterP-textAlign   : center;
  --ballCenterP-width       : 100%;
}

.Ball {
  /* background color sent using inline styling */
  border            : var(--ball-borders);
  border-radius     : 50%;
  margin            : var(--ball-margins);
  height            : var(--ball-height);
  width             : var(--ball-width);
  text-align        : var(--ball-textAlign);
  
  display           : inline-block;
  flex              : 0 0 auto;

}

.BallCenter {
  background-color  : var(--ballCenter-bgcolor);
  border            : var(--ballCenter-borders);
  border-radius     : 50%;
  color             : var(--ballCenter-color);
  height            : var(--ballCenter-height);
  margin            : var(--ballCenter-margins);
  width             : var(--ballCenter-width);
  font-size         : var(--ballCenter-fontSize);

  display           : inline-block;
}

.BallCenter p {
  font-weight       : var(--ballCenterP-fontWeight);
  margin            : var(--ballCenterP-margins);
  padding           : var(--ballCenterP-padding);
  text-align        : var(--ballCenterP-textAlign);
  width             : var(--ballCenterP-width);
}
