html {
  --actionButton-active-bgcolor : #005;
  --actionButton-active-borders : inset;
  --actionButton-active-scale   : scale(0.95, 0.95);

  --actionButton-hover-bgcolor  : #00C;
  --actionButton-hover-borders  : groove;

  --actionButton-bgcolor        : var(--button-bgcolor-default);
  --actionButton-borders        : var(--button-borders-default);
  --actionButton-boxShadow      : var(--box-shadow);

  --actionButton-color          : #FFF;
  --actionButton-fontSize       : 22px;
  --actionButton-fontWeight     : bolder;
  --actionButton-height         : auto;
  --actionButton-width          : auto;

  --CancelButton-active-bgcolor : #C00;
  --CancelButton-active-borders : inset;
  --CancelButton-active-scale   : scale(0.95, 0.95);
  --CancelButton-hover-bgcolor  : #F00;
  --CancelButton-hover-borders  : groove;

  --CancelButton-bgcolor    : var(--button-bgcolor-default);
  --CancelButton-borders    : var(--button-borders-default);
  --CancelButton-boxShadow  : var(--box-shadow);
  --CancelButton-color      : #FFF;
  --CancelButton-fontSize   : 22px;
  --CancelButton-fontWeight : bolder;
  --CancelButton-height     : auto;
  --CancelButton-width      : auto;

  --card-bgcolor            : #004400;
  --card-borders            : 2px solid gold;
  --card-height             : fit-content;
  --card-width              : fit-content;

  --card-title-bgcolor      : black;
  --card-title-borders      : 2px solid purple;
  --card-title-borders-rad  : 5px;

  --col-height              : fit-content;
  --col-width               : fit-content;

  --colTitle-font-size      : 20px;
  --colTitle-height         : 40px;
  --colTitle-width          : 20px;
  --colTitle-margin         : 0 auto 0 auto;
  --colTitle-padding        : 0 0 5px 0;
  
  --delayBox-bgcolor        : transparent;
  --delayBox-borders        : none;
  --delayBox-color          : var(--font-color-default);
  --delayBox-fontSize       : 30px;
  --delayBox-fontWeight     : bolder;
  --delayBox-textAlign      : center;
  --delayBox-width          : 50px;

  --delayButton-bgcolor     : var(--button-bgcolor-default);
  --delayButton-borders     : var(--button-borders-default);
  --delayButton-boxShadow   : var(--box-shadow);
  --delayButton-color       : var(--font-color-default);
  --delayButton-fontSize    : 30px;
  --delayButton-height      : 32px;
  --delayButton-width       : 32px;

  --drawnNum-bgcolor        : #003500;
  --drawnNum-borders        : 2px solid gold;
  --drawnNum-borders-rad    : 5px;
  --drawnNum-direction      : rtl;
  --drawnNum-min-height     : calc(var(--hitSpot-height) + 6px);
  --drawnNum-height         : auto;
  --drawnNum-width          : 76%; 

  --drawnNum-margin         : 10px auto 10px auto;
  --drawnNum-padding        : 5px 0 5px 0;
  --drawnNum-textAlign      : left;

  --hitMark-color           : #FFF;
  --hitMark-height          : calc(var(--hitSpot-height) - 6px);
  --hitMark-width           : calc(var(--hitSpot-width) - 6px);
  --hitMark-bgcolor         : purple;
  --hitMark-borders         : 1px outset #000;
  --hitMark-borders-rad     : 50%;

  --hitSpot-borders         : 2px solid #000;
  --hitSpot-color           : #000;
  --hitSpot-font-size       : 20px;
  --hitSpot-height          : 45px;
  --hitSpot-width           : 45px;

  --playground-bgcolor      : #000066;
  --playground-borders      : 5px outset var(--borders-color-default);
  --playground-borders-rad  : 5px;
  --playground-margin       : 10px 0 0 0;
  --playground-padding      : 0 0 10px 0;
  --playground-width        : 99%;

  --roundDetails-bgcolor    : transparent;
  --roundDetails-borders    : 1px outset var(--borders-color-default);
  --roundDetails-height     : 230px;
  --roundDetails-margins    : 0 0 10px 0;
  --roundDetails-paddings   : 0 0 5px 0;
  --roundDetails-textAlign  : center;
  --roundDetails-width      : 50%;

  --roundOptions-bgcolor      : transparent;
  --roundOptions-borders      : 1px solid var(--borders-color-default);
  --roundOptions-borders-rad  : 5px;
  --roundOptions-height       : var(--roundDetails-height);
  --roundOptions-margins      : var(--roundDetails-margins);
  --roundOptions-paddings     : var(--roundDetails-paddings);
  --roundOptions-width        : 49.50%;

}

#BingoPlayground {
  background-color  : var(--playground-bgcolor);
  border            : var(--playground-borders);
  border-radius     : var(--playground-borders-rad);
  margin            : var(--playground-margin);
  padding           : var(--playground-padding);
  width             : var(--playground-width);
  display           : inline-block;
}

/* Bingo card's columns */
#Col {
  height            : var(--col-height);
  width             : var(--col-width);
  display           : block;
}

/* Bingo card's columns title */
#ColTitle {
  background-color  : var(--card-title-bgcolor);
  border            : var(--card-title-borders);
  border-radius     : var(--card-title-borders-rad);
  font-size         : var(--colTitle-font-size);
  height            : var(--colTitle-height);
  margin            : var(--colTitle-margin);
  padding           : var(--colTitle-padding);
  width             : var(--colTitle-width);
  
  display           : inline-block;
}

#DrawnNumbers {
  background-color  : var(--drawnNum-bgcolor);
  border            : var(--drawnNum-borders);
  border-radius     : var(--drawnNum-borders-rad);
  min-height        : var(--drawnNum-min-height);
  height            : var(--drawnNum-height);
  margin            : var(--drawnNum-margin);
  padding           : var(--drawnNum-padding);
  text-align        : var(--drawnNum-textAlign);
  width             : var(--drawnNum-width);
  
  display           : flex;
  flex-wrap         : nowrap;
  flex-direction    : row;
  overflow-x        : hidden;
  overflow-y        : hidden;
}

/** When a number is called */
#HitMark {
  background-color  : var(--hitMark-bgcolor);
  border            : var(--hitMark-borders);
  border-radius     : var(--hitMark-borders-rad);
  color             : var(--hitMark-color);
  height            : var(--hitMark-height);
  width             : var(--hitMark-width);
  z-index           : 3;

  display: inline-block;
}

#HitBox {
  background-color  : white;
  border            : var(--hitSpot-borders);
  color             : var(--hitSpot-color);
  font-size         : var(--hitSpot-font-size);
  height            : var(--hitSpot-height);
  margin            : 0 auto 0 auto;
  width             : var(--hitSpot-width);
  z-index           : 2;

  display           : inline-block;
}

#RoundDetails {
  background-color  : var(--roundDetails-bgcolor);
  border            : var(--roundDetails-borders);
  border-radius     : 5px;
  margin            : var(--roundDetails-margins);
  padding           : var(--roundDetails-paddings);
  text-align        : var(--roundDetails-textAlign);
  width             : var(--roundDetails-width);
    min-width       : fit-content;
  height            : var(--roundDetails-height);
  float             : left;
}

#RoundDetails p {
  margin: 5px 5px 5px 5px
}

#RoundOptions {
  background-color  : var(--roundOptions-bgcolor);
  border            : var(--roundOptions-borders);
  border-radius     : var(--roundOptions-borders-rad);
  height            : var(--roundOptions-height);
  margin            : var(--roundOptions-margins);
  padding           : var(--roundOptions-paddings);
  width             : var(--roundOptions-width);
    min-width       : var(--roundOptions-width);
  
  display           : inline-block;
  vertical-align    : top;
}

#RoundOptions p {
  margin            : 2.5px auto 2.5px auto;
  text-align        : center;
}

#voiceList {
  margin: 0 0 0 5px;
}

.ActionButton {
  background-color  : var(--actionButton-bgcolor);
  border            : var(--actionButton-borders);
  border-radius     : 5px;
  box-shadow        : var(--actionButton-boxShadow);
  color             : var(--actionButton-color);
  font-size         : var(--actionButton-fontSize);
  font-weight       : var(--actionButton-fontWeight);
  height            : var(--actionButton-height);
  margin            : 2.5px;
  width             : var(--actionButton-width);
}

.ActionButton:hover {
  background-color  : var(--actionButton-hover-bgcolor);
  border-style      : var(--actionButton-hover-borders);
}

.ActionButton:active {
  background-color  : var(--actionButton-active-bgcolor);
  border-style      : var(--actionButton-active-borders);
  transform         : var(--actionButton-active-scale);
}

.ActionButton:disabled {
  background-color  : var(--button-disabled-bgcolor);
  border-color      : var(--button-disabled-border-color);
  border-style      : var(--button-disabled-border-styles);
  color             : var(--button-disabled-color);
}

.BingoCard {
  background-color  : var(--card-bgcolor);
  border            : var(--card-borders);
  border-radius     : 5px;
  height            : var(--card-height);
  padding           : 2px;
  width             : var(--card-width);

  display           : inline-block;
  z-index: 1;
}

.CancelButton {
  background-color  : var(--CancelButton-bgcolor);
  border            : var(--CancelButton-borders);
  border-radius     : 5px;
  box-shadow        : var(--CancelButton-boxShadow);
  color             : var(--CancelButton-color);
  font-size         : var(--CancelButton-fontSize);
  font-weight       : var(--CancelButton-fontWeight);
  height            : var(--CancelButton-height);
  margin            : 2.5px;
  width             : var(--CancelButton-width);
}

.CancelButton:hover {
  background-color  : var(--CancelButton-hover-bgcolor);
  border-style      : var(--CancelButton-hover-borders);
}

.CancelButton:active {
  background-color  : var(--CancelButton-active-bgcolor);
  border-style      : var(--CancelButton-active-borders);
  transform         : var(--CancelButton-active-scale);
}

.CancelButton:disabled {
  background-color  : var(--button-disabled-bgcolor);
  border-color      : var(--button-disabled-border-color);
  border-style      : var(--button-disabled-border-styles);
  color             : var(--button-disabled-color);
}

.DelayBox {
  background-color  : var(--delayBox-bgcolor);
  border            : var(--delayBox-borders);
  color             : var(--delayBox-color);
  font-weight       : var(--delayBox-fontWeight);
  font-size         : var(--delayBox-fontSize);
  text-align        : var(--delayBox-textAlign);
  width             : var(--delayBox-width);

}

.DelayButton {
  background-color  : var(--delayButton-bgcolor);
  border            : var(--delayButton-borders);
  box-shadow        : var(--delayButton-boxShadow);
  color             : var(--delayButton-color);
  font-size         : var(--delayButton-fontSize);
  height            : var(--delayButton-height);
  width             : var(--delayButton-width);
  padding           : 0;
}

.DelayButton:hover {
  border-style      : groove;
}

.DelayButton:active {
  border-style      : inset;
  transform         : scale(0.95, 0.95);
}

.DelayButton:disabled {
  background-color  : var(--button-disabled-bgcolor);
  border-color      : var(--button-disabled-border-color);
  border-style      : var(--button-disabled-border-styles);
  color             : var(--button-disabled-color);
}

/** #B4D007 - Really like to use this one instead of using 1 for each.. */
button:disabled {
  background-color  : var(--button-disabled-bgcolor);
  border-color      : var(--button-disabled-border-color);
  border-style      : var(--button-disabled-border-styles);
  color             : var(--button-disabled-color);
}